@*<header class="header">
        <div class="header-middle">
            <div class="container d-flex">
                <div class="header__logo">
                    <a class="logo" href="http://coupon.cactusthemes.com/">
                        <img src="http://coupon.cactusthemes.com/wp-content/themes/decoup/images/logo.png" alt="Decoup">
                    </a>
                </div>
                <div class="header-middle__right">
                    <div class="header__search">
                        <div id="coupon-search-3" class="widget col-xs-12 col-md-12   widget_search coupon-search">
                            <div class="widget-content">
                                <form class="search-form" action="http://coupon.cactusthemes.com/" method="get">
                                    <input type="text" placeholder="Search Coupons &amp; Deals" name="s" value="">
                                    <input type="submit" value="Submit"> <span class="ion ion-ios-search-strong"></span>
                                    <input type="hidden" value="ct_coupon" name="post_type">
                                </form>


                            </div>
                        </div>

                    </div>




                    <div class="header__mobile hidden-md-up">
                        <span class="toggle-menu">
                            <i class="ion ion-android-menu"></i>
                            <i class="ion ion-android-close"></i>
                        </span>
                        <div class="header__push-menu">
                            <nav class="navigation--mobile ">
                                <ul>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-86 current_page_item menu-item-88"><a href="http://coupon.cactusthemes.com/" aria-current="page">HOME</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-90">
                                        <a href="http://coupon.cactusthemes.com/coupons/">COUPONS</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-270"><a href="/coupon/">ALL COUPONS &amp; DEALS</a></li>
                                        </ul>
                                        <span class="icon-menu"></span>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-89"><a href="http://coupon.cactusthemes.com/deals/">DEALS</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-130"><a href="/store">STORE</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-95"><a href="http://coupon.cactusthemes.com/about-us/">ABOUT</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-91"><a href="http://coupon.cactusthemes.com/contact-us/">CONTACT</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="body__overlay"></div>
                    </div>

                </div>
            </div>
        </div>
    </header>*@


<div class="col-md-6 text-md-left text-center position-fixed" style="z-index:999 !important">
    <div class="navbar-brand">
        <img class="d-sm-block" src="http://coupon.cactusthemes.com/wp-content/themes/decoup/images/logo.png" alt="Decoup" style="width: 100px;position:relative!important">
    </div>
</div>
<nav class="menu">
    @*<ol>
            <li class="menu-item">
                <a class="navbar-brand" href="http://coupon.cactusthemes.com/">
                    <img src="http://coupon.cactusthemes.com/wp-content/themes/decoup/images/logo.png" alt="Decoup" style="width: 100px;">
                </a>
            </li>
        </ol>*@
    <ol>
        @*<li class="menu-item">
            <div class="navbar-brand  text-md-left text-center">
                <img class="d-none d-sm-block" src="http://coupon.cactusthemes.com/wp-content/themes/decoup/images/logo.png" alt="Decoup" style="width: 100px;">
            </div>
        </li>*@
        <li class="menu-item"><a href="#0">Home</a></li>
        <li class="menu-item"><a href="#0">About</a></li>
        <li class="menu-item">
            <a href="#0">Widgets</a>
            <ol class="sub-menu">
                <li class="menu-item"><a href="#0">Big Widgets</a></li>
                <li class="menu-item"><a href="#0">Bigger Widgets</a></li>
                <li class="menu-item"><a href="#0">Huge Widgets</a></li>
            </ol>
        </li>
        <li class="menu-item">
            <a href="#0">Kabobs</a>
            <ol class="sub-menu">
                <li class="menu-item"><a href="#0">Shishkabobs</a></li>
                <li class="menu-item"><a href="#0">BBQ kabobs</a></li>
                <li class="menu-item"><a href="#0">Summer kabobs</a></li>
            </ol>
        </li>
        <li class="menu-item"><a href="#0">Contact</a></li>
    </ol>
</nav>