
@{
    ViewData["Title"] = "DraftListCoupon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DraftListCoupon</h1>

<div class="container blue-bg">
    <div class="col-md-8">
        <h2 class="section-heading">Latest Coupon Codes and Deals</h2>
        <div class="coupons-list">
            <div class="store-offer-item shadow-box">
                <div class="store-thumb-link">
                    <div class="offer-image">
                        <a href=""><img src="http://www.dealsdiscount4u.com/uploads/small/stores/Charlotte-Russe.jpg" alt="My Freedom Smoke" title="My Freedom Smoke"></a>
                    </div>
                    <div class="store-name">
                        <a href=""><span>My Freedom Smokes</span>  <i class="glyphicon glyphicon-menu-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="latest-coupon">
                    <h3 class="coupon-title"><a href="#">Up To 40% - 70% Off January Savings Event</a></h3>
                    <div class="coupon-des">
                        Save with free shipping and free returns on all orders of $99. <span class="des-more">... <a href="#">More <i class="glyphicon glyphicon-menu-down"></i></a></span>
                        <div class="coupon-des-full" style="display: none;">Some exclusions apply. No code required. Limited time offer.<a class="des-less" href="#">Less<i class="glyphicon glyphicon-menu-up"></i></a></div>
                    </div>
                </div>
                <div class="coupon-detail coupon-button-type">
                    <a href="#" class="coupon-button coupon-code" data-aff-url="https://google.com">
                        <span class="code-text">CALENDARS</span>
                        <span class="get-code">Get Code</span>
                    </a>
                    <div class="exp-text">Expires 6/25/2016 <a title="Save This Coupon" href="#" class="coupon-save"><i class="glyphicon glyphicon-star"></i></a></div>
                </div>

            </div>
            <!--       second coupon -->
            <div class="store-offer-item shadow-box">
                <div class="store-thumb-link">
                    <div class="offer-image">
                        <a href="">
                            <span class="offer-text">75% OFF</span>
                        </a>
                    </div>
                    <div class="store-name">
                        <a href=""><span>Kmart Coupons</span> <i class="glyphicon glyphicon-menu-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="latest-coupon">
                    <h3 class="coupon-title"><a href="#">Up To 40% - 70% Off January Savings Event</a></h3>
                    <div class="coupon-des">
                        Save with free shipping and free returns on all orders of $99. <span id="des-more12" class="des-more">... <a role="button" data-toggle="collapse" href="#seemore12" aria-expanded="false" aria-controls="seemore12">More <i class="glyphicon glyphicon-menu-down"></i></a></span>
                        <div class="coupon-des-full collapse" id="seemore12">Some exclusions apply. No code required. Limited time offer.</div>
                    </div>
                </div>
                <div class="coupon-detail coupon-button-type">
                    <a href="#" class="coupon-button coupon-code" data-aff-url="https://google.com">
                        <span class="code-text">EMIAXHGF</span>
                        <span class="get-code">Get Code</span>
                    </a>
                    <div class="exp-text">Expires 6/25/2016 <a title="Save This Coupon" href="#" class="coupon-save"><i class="glyphicon glyphicon-star"></i></a></div>
                </div>

            </div>
            <!--       third coupon active deal -->
            <div class="store-offer-item shadow-box">
                <div class="store-thumb-link">
                    <div class="offer-image">
                        <a href="">
                            <img src="http://www.dealsdiscount4u.com/uploads/small/stores/OpenSky.jpg">
                        </a>
                    </div>
                    <div class="store-name">
                        <a href=""><span>Open Sky Coupons</span> <i class="glyphicon glyphicon-menu-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="latest-coupon">
                    <h3 class="coupon-title"><a href="#">Up To 40% - 70% Off January Savings Event</a></h3>
                    <div class="coupon-des">
                        Save with free shipping and free returns on all orders of $99. <span id="des-more12" class="des-more">... <a role="button" data-toggle="collapse" href="#seemore12" aria-expanded="false" aria-controls="seemore12">More <i class="glyphicon glyphicon-menu-down"></i></a></span>
                        <div class="coupon-des-full collapse" id="seemore12">Some exclusions apply. No code required. Limited time offer.</div>
                    </div>
                </div>
                <div class="coupon-detail coupon-button-type">
                    <a href="#" class="coupon-deal coupon-button" data-aff-url="https://google.com">Get Deal <i class="shop icon"></i></a>
                    <div class="exp-text">Expires 6/25/2016 <a title="Save This Coupon" href="#" class="coupon-save"><i class="glyphicon glyphicon-star"></i></a></div>
                </div>

            </div>
            <!-- Store Page Coupon  -->
            <div class="store-offer-item coupon-listing-item shadow-box">
                <div class="store-thumb-link">
                    <div class="offer-image">
                        <a href="">
                            <img src="http://www.dealsdiscount4u.com/uploads/small/stores/OpenSky.jpg">
                        </a>
                    </div>

                </div>
                <div class="latest-coupon">
                    <h3 class="coupon-title"><a href="#">Up To 80% Off Storewide Sale at OpenSky</a></h3>
                    <div class="c-type">
                        <span class="c-code c-sale">Sale</span> <span class="exp">Expires 6/25/2015</span>
                    </div>
                    <div class="coupon-des">
                        Save with free shipping and free returns on all orders of $99. <span id="des-more12" class="des-more">... <a role="button" data-toggle="collapse" href="#seemore12" aria-expanded="false" aria-controls="seemore12">More <i class="glyphicon glyphicon-menu-down"></i></a></span>
                        <div class="coupon-des-full collapse" id="seemore12">Some exclusions apply. No code required. Limited time offer.</div>
                    </div>
                </div>
                <div class="coupon-detail coupon-button-type">
                    <a href="#" class="coupon-deal coupon-button" data-aff-url="https://google.com">Get Deal <i class="shop icon"></i></a>
                    <div class="clear"></div>
                    <div class="user-ratting ui icon basic buttons">
                        <div class="ui button icon-popup visible" data-offset="0" data-position="bottom left" data-content="This worked" data-variation="inverted"><i class="glyphicon glyphicon-download"></i></div>

                        <div class="ui button icon-popup" data-offset="0" data-position="bottom left" data-content="It didn't work" data-variation="inverted"><i class="glyphicon glyphicon-upload"></i></div>
                        <div class="save-coupon ui button icon-popup" data-offset="0" data-position="bottom left" data-content="Save this coupon" data-variation="inverted"><i class="glyphicon glyphicon-star"></i></div>
                    </div><span class="voted-value">100% Success</span>
                </div>
                <div class="clear"></div>
                <div class="coupon-footer coupon-listing-footer">
                    <ul class="clearfix">
                        <li><span><i class="glyphicon glyphicon-signal"></i> 267 Used - 16 Today</span></li>
                        <li><a title="Share it with your friend" data-reveal="reveal-share" href="#" class=""><i class="glyphicon glyphicon-share-alt"></i> Share</a></li>
                        <li><a title="Send this coupon to an email" data-reveal="reveal-email" href="#"><i class="glyphicon glyphicon-envelope"></i> Email</a></li>
                        <li><a title="Coupon Comments" data-reveal="reveal-comments" href="#"><i class="glyphicon glyphicon-comment"></i> Comments</a></li>
                    </ul>
                    <div class="reveal-content reveal-share">
                        <span class="close"></span>
                        <h4>Share it with your friends</h4>
                        <div class="ui fluid left icon input">
                            <input value="http://example.com/stores/Nature/#c_28668" type="text">
                            <i class="linkify icon"></i>
                        </div>
                        <br>
                        <div class="coupon-share">
                            <a class="tiny ui facebook button"><i class="facebook icon"></i>Facebook</a>
                            <a class="tiny ui twitter button"><i class="twitter icon"></i>Twitter</a>
                            <a class="tiny ui google plus button"><i class="google plus icon"></i>Google Plus</a>
                            <a class="tiny ui instagram button"><i class="instagram icon"></i>Instagram</a>
                        </div>
                    </div>
                    <div class="reveal-content reveal-email">
                        <span class="close"></span>
                        <h4>Send this coupon to an email</h4>
                        <div class="ui fluid action left icon input">
                            <input placeholder="Email address ..." type="text">
                            <i class="mail outline icon"></i>
                            <div class="ui button btn btn_primary">Send</div>
                        </div><br>
                        <p>This is not a email subscription service. Your email (or your friend's email) will only be used to send this coupon.</p>
                    </div>
                    <div class="reveal-content reveal-comments">
                        <span class="close"></span>
                        <h4>Showing most recent comments</h4>

                        <div class="ui threaded comments">
                            <div class="comment">
                                <a class="avatar">
                                    <img src="thumb/avatars/avatar1.jpg">
                                </a>
                                <div class="content">
                                    <a class="author">Elliot Fu</a>
                                    <div class="metadata">
                                        <span class="date">Yesterday at 12:30AM</span>
                                    </div>
                                    <div class="text">
                                        <p>Gave me 15% on my already sale priced item</p>
                                    </div>
                                    <div class="actions">
                                        <a class="reply">Reply</a>
                                    </div>
                                </div>
                                <div class="comments">
                                    <div class="comment">
                                        <a class="avatar">
                                            <img src="thumb/avatars/avatar2.jpg">
                                        </a>
                                        <div class="content">
                                            <a class="author">Jenny Hess</a>
                                            <div class="metadata">
                                                <span class="date">Just now</span>
                                            </div>
                                            <div class="text">
                                                <p>That item was excluded from offer. </p>
                                            </div>
                                            <div class="actions">
                                                <a class="reply">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="comment">
                                <a class="avatar">
                                    <img src="thumb/avatars/avatar3.jpg">
                                </a>
                                <div class="content">
                                    <a class="author">Joe Henderson</a>
                                    <div class="metadata">
                                        <span class="date">5 days ago</span>
                                    </div>
                                    <div class="text">
                                        <p>Total savings $21.44 on Women's active wear</p>
                                    </div>
                                    <div class="actions"><a class="reply">Reply</a></div>
                                </div>
                            </div>
                        </div>
                        <h4>Let other know how much you saved</h4>
                        <form action="">
                            <div class="ui form">
                                <div class="field">
                                    <textarea placeholder="Add a comment"></textarea>
                                </div>
                                <div class="two fields">
                                    <div class="field">
                                        <input type="text" placeholder="Your Name">
                                    </div>
                                    <div class="field">
                                        <input type="text" placeholder="Your Email">
                                    </div>
                                </div>
                                <button class="ui button btn btn_primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div id="secondary" class="widget-area sidebar">
            <aside class="widget widget_newsletter">
                <h4 class="widget-title">Popular Stores</h4>
                <div class="newsletter-box-wrapper shadow-box">
                    <div class="col-md-6">
                        <a class="store-gird" href="#"><img class="img-responsive" src="http://www.dealsdiscount4u.com/uploads/small/stores/Campmor.jpg"><span>York Photo</span></a>
                    </div>
                    <div class="col-md-6">
                        <a class="store-gird" href="#"><img class="img-responsive" src="http://www.dealsdiscount4u.com/uploads/small/stores/Campmor.jpg"><span>Advance Auto Parts</span></a>
                    </div>

                    <div class="col-md-6">
                        <a class="store-gird" href="#"><img class="img-responsive" src="http://www.dealsdiscount4u.com/uploads/thumbnails/stores/FootSmart.jpg"><span>ShutterFly</span></a>
                    </div>
                    <div class="col-md-6">
                        <a class="store-gird" href="#"><img class="img-responsive" src="http://www.dealsdiscount4u.com/uploads/thumbnails/stores/FootSmart.jpg"><span>My Freedom Smokes </span></a>
                    </div>
                    <div class="col-md-6">
                        <a class="store-gird" href="#"><img class="img-responsive" src="http://www.dealsdiscount4u.com/uploads/thumbnails/stores/FootSmart.jpg"><span>CAMPMOR</span></a>
                    </div>
                    <div class="col-md-6">
                        <a class="store-gird" href="#"><img class="img-responsive" src="http://www.dealsdiscount4u.com/uploads/thumbnails/stores/FootSmart.jpg"><span>Open Sky</span></a>
                    </div>
                    <div class="col-md-6">
                        <a class="store-gird" href="#"><img class="img-responsive" src="http://www.dealsdiscount4u.com/uploads/thumbnails/stores/FootSmart.jpg"><span>FootSmart</span></a>
                    </div>
                    <div class="col-md-6">
                        <a class="store-gird" href="#"><img class="img-responsive" src="http://www.dealsdiscount4u.com/uploads/thumbnails/stores/FootSmart.jpg"><span>Neiman Marcus</span></a>
                    </div>
                    <div class="clear"></div>
                </div>
            </aside>
        </div>
    </div>
</div>


<script type="text/javascript">
    $('#seemore12').on('show.bs.collapse', function () {
        $("#des-more12").html('<a role="button" data-toggle="collapse" href="#seemore12" aria-expanded="false" aria-controls="seemore12">Less <i class="glyphicon glyphicon-menu-up"></i></a>');
    })
    $('#seemore12').on('hide.bs.collapse', function () {
        $("#des-more12").html('... <a role="button" data-toggle="collapse" href="#seemore12" aria-expanded="false" aria-controls="seemore12">More <i class="glyphicon glyphicon-menu-down"></i></a>');
    })
</script>

