@model IEnumerable<thegioivoucher.Models.User>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="coupon__box">
                <div class="coupon__box__body" style="">
                    <div class="coupon__box__image" style="">
                        <img class="img-avatar img-responsive" src="~/img/category/category_img_mom.png" style="" />
                    </div>
                    <div class="coupon__box__info  d-flex">
                        <div class="coupon__box__pricetag">
                            <span class="fa fa-tags" alt="Người đã dùng"></span>
                            <span style="font-weight:600" alt="Người đã dùng">Coupon</span>
                        </div>
                        <div class="coupon__box__verify font-weight-bold">
                            <span class="fa fa-calendar-check-o"></span>
                            Còn hiệu lực
                        </div>

                        <div class="coupon__box__used">
                            <span class="fa fa-users" style="color: #999;" alt="Người đã dùng"></span>
                            <span style="font-weight:600" alt="Người đã dùng">68</span>
                        </div>
                    </div>
                    <div class="coupon__box__description  d-flex">
                        Ngồi nhà thoải mái thưởng thức đặc sản Đài Loan với ưu đãi KKday
                    </div>
                </div>
                <div class="coupon__box__footer">
                    <div class="coupon-detail coupon-button-type btn">
                        <a href="#" class="coupon-button coupon-code" data-aff-url="https://google.com">
                            <span class="code-text">FREESHIP20K</span>
                            <span class="get-code">Lấy mã</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3">2</div>
        <div class="col-md-3">3</div>
        <div class="col-md-3">4</div>
    </div>

</div>